* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  display: inline-block; }

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

body {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e; }

.default-btn {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.25px;
  padding: 8px 30px 8px 24px;
  border: 1px solid #ffc222;
  border-right-width: 20px;
  position: relative;
  outline: none; }

.default-btn:after {
  color: #fff;
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -13px; }

/* -- header -- */
.header {
  font-family: "Roboto", sans-serif; }

.header-top {
  background: #303030; }
  .header-top .contacts:after {
    content: '';
    clear: both;
    display: block; }
  .header-top__btn {
    float: right;
    font-family: "Roboto", sans-serif;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    font-size: 16px;
    padding: 5px 20px 4px 50px;
    position: relative; }
  .header-top__btn:before {
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #1b1b1b; }
  .header-top__phone, .header-top__email {
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: absolute; }
  .header-top__email:before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222; }
  .header-top__phone {
    padding-left: 20px;
    padding-right: 30px;
    position: relative; }
  .header-top__phone:before {
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222; }
  .header-top__email {
    padding-left: 24px; }

.header-content {
  padding: 34px 0 23px; }
  .header-content_flex {
    display: flex;
    justify-content: space-between; }
  .header-content__menu li {
    display: inline-block; }
  .header-content__menu li + li {
    padding-left: 10px; }
  .header-content__menu a {
    color: #323232;
    line-height: 36px;
    font-size: 16px;
    border: 1px solid transparent;
    padding: 0 16px 0 16px;
    transition: all .4s; }
  .header-content__menu a:hover {
    border-color: #ffc222; }

#modal {
  display: none; }

/* -- /header -- */
/* -- slider -- */
.slider {
  background-image: url("./../img/slider-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px; }
  .slider .slider__item {
    position: relative;
    outline: none; }
    .slider .slider__item img {
      position: absolute; }
    .slider .slider__item_wrap {
      text-align: center;
      padding-top: 110px;
      max-width: 665px;
      margin: 0 auto;
      position: relative; }
    .slider .slider__item .slider__title {
      text-transform: uppercase;
      line-height: 36px;
      font-size: 30px;
      color: #fff;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      letter-spacing: 1.5px;
      margin-bottom: 33px; }
    .slider .slider__item .slider__text {
      font-size: 18px;
      line-height: 24px;
      color: #d3d2d2;
      margin-bottom: 50px; }

.slick-btn {
  position: absolute;
  color: #fff;
  top: 70%;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  background-color: #ffc222; }

.slick-btn.slick-disabled {
  background-color: transparent;
  cursor: default; }

.slick-btn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.slick-next {
  right: 0; }

.slick-next:before {
  content: "\f105";
  font-family: 'icomoon'; }

.slick-prev {
  left: 0;
  z-index: 3; }

.slick-prev:before {
  content: "\f104";
  font-family: 'icomoon'; }

/* -- /slider -- */
/* -- services -- */
.services .services-top,
.services .news-top,
.news .services-top,
.news .news-top {
  padding: 50px 0 30px;
  display: flex;
  justify-content: space-between; }
  .services .services-top__title-box,
  .services .news-top__title-box,
  .news .services-top__title-box,
  .news .news-top__title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative; }
    .services .services-top__title-box .title,
    .services .news-top__title-box .title,
    .news .services-top__title-box .title,
    .news .news-top__title-box .title {
      font-size: 24px;
      line-height: 24px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: #212020;
      margin-bottom: 15px; }
    .services .services-top__title-box .text,
    .services .news-top__title-box .text,
    .news .services-top__title-box .text,
    .news .news-top__title-box .text {
      letter-spacing: 0.1px; }
  .services .services-top__title-box:before,
  .services .news-top__title-box:before,
  .news .services-top__title-box:before,
  .news .news-top__title-box:before {
    content: "";
    width: 106px;
    height: 2px;
    background: #ffc222;
    position: absolute;
    left: 0;
    top: 10px; }
  .services .services-top__btn a,
  .services .news-top__btn a,
  .news .services-top__btn a,
  .news .news-top__btn a {
    color: #373636;
    letter-spacing: 0.25px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    padding: 5px 38px 5px 38px;
    border: 3px solid #e6e6e6;
    margin-top: 25px; }
.services .services-items,
.news .services-items {
  display: flex;
  justify-content: space-between; }
  .services .services-items__item,
  .news .services-items__item {
    max-width: 360px;
    min-height: 375px;
    text-align: center;
    padding: 32px 0px 80px;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14); }
    .services .services-items__item .item__title,
    .news .services-items__item .item__title {
      color: #212020;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      line-height: 24px;
      padding: 22px 0 24px; }
    .services .services-items__item .item__text,
    .news .services-items__item .item__text {
      letter-spacing: 0.1px;
      padding: 0 30px 30px; }
    .services .services-items__item .item-links,
    .news .services-items__item .item-links {
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0; }
      .services .services-items__item .item-links__info,
      .news .services-items__item .item-links__info {
        line-height: 14px;
        color: #050505;
        font-family: "Roboto", sans-serif;
        border-bottom: 1px solid #050505;
        margin-right: 60px; }
      .services .services-items__item .item-links .default-btn,
      .news .services-items__item .item-links .default-btn {
        color: #444343; }

/* -- /services -- */
/* -- about -- */
.about {
  background-image: url("./../img/about-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  padding: 35px 0 45px; }
  .about__title {
    margin-bottom: 30px;
    line-height: 24px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #fff; }
  .about__text {
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #d3d2d2;
    margin-bottom: 30px; }
  .about .default-btn:after {
    color: #303030; }
  .about .about_inner {
    max-width: 545px; }

/* -- /about -- */
/* -- form -- */
.form {
  padding-top: 40px; }
  .form .form_inner {
    background-image: url("./../img/form-back.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    min-height: 460px;
    padding-bottom: 40px; }
  .form .form-content .form-top__title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative; }
    .form .form-content .form-top__title-box .title {
      font-size: 24px;
      line-height: 24px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: #212020;
      margin-bottom: 15px; }
    .form .form-content .form-top__title-box .text {
      letter-spacing: 0.1px; }
  .form .form-content .form-top__title-box:before {
    content: "";
    width: 106px;
    height: 2px;
    background: #ffc222;
    position: absolute;
    left: 0;
    top: 10px; }
  .form .form-content .form__box {
    max-width: 850px;
    padding-top: 45px; }
    .form .form-content .form__box_inner {
      display: flex;
      justify-content: space-between; }
      .form .form-content .form__box_inner .form__box-left {
        max-width: 260px;
        width: 100%; }
      .form .form-content .form__box_inner .form__box-right {
        max-width: 555px;
        width: 100%; }
      .form .form-content .form__box_inner label {
        font-family: "Roboto", sans-serif;
        color: #282828;
        line-height: 36px; }
      .form .form-content .form__box_inner input {
        margin-bottom: 8px;
        outline: none;
        height: 40px;
        border: 1px solid #e6e6e6;
        padding: 0px 10px; }
      .form .form-content .form__box_inner textarea {
        outline: none;
        padding: 10px;
        border: 1px solid #e6e6e6;
        height: 207px;
        resize: none;
        margin-bottom: 44px; }
      .form .form-content .form__box_inner button {
        color: #414141;
        background-color: transparent;
        float: right; }
      .form .form-content .form__box_inner button:after {
        color: #414141; }
    .form .form-content .form__box_inner input, .form .form-content .form__box_inner label, .form .form-content .form__box_inner textarea {
      display: block;
      width: 100%; }
    .form .form-content .form__box .jq-selectbox.jqselect {
      display: block;
      width: 100%; }
    .form .form-content .form__box .jq-selectbox__select {
      border: 1px solid #e6e6e6;
      height: 40px;
      padding-left: 17px; }
    .form .form-content .form__box .jq-selectbox__trigger-arrow:before {
      content: "\f105";
      font-family: 'icomoon';
      transform: rotate(90deg);
      right: 17px;
      top: 0;
      position: absolute; }
    .form .form-content .form__box .jq-selectbox__dropdown {
      width: 100%;
      margin: 2px 0 0;
      padding: 0;
      border: 1px solid #e6e6e6;
      background: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
    .form .form-content .form__box .jq-selectbox li {
      min-height: 18px;
      padding: 5px 10px 6px;
      color: #231F20; }
    .form .form-content .form__box .jq-selectbox li.selected {
      background-color: #A3ABB1;
      color: #FFF; }
    .form .form-content .form__box .jq-selectbox li:hover {
      background-color: #08C;
      color: #FFF; }
    .form .form-content .form__box .jq-selectbox li.disabled {
      color: #AAA; }
    .form .form-content .form__box .jq-selectbox li.disabled:hover {
      background: none; }
    .form .form-content .form__box .jq-selectbox li.optgroup {
      font-weight: bold; }
    .form .form-content .form__box .jq-selectbox li.optgroup:hover {
      background: none;
      color: #231F20;
      cursor: default; }
    .form .form-content .form__box .jq-selectbox li.option {
      padding-left: 25px; }

/* -- /form -- */
/* -- advantages -- */
.advantages {
  padding: 55px 0 40px;
  background-image: url("./../img/advantages-back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 285px; }
  .advantages__inner {
    display: flex;
    justify-content: space-between; }
    .advantages__inner .advantages-item {
      max-width: 360px;
      text-align: center;
      padding: 0 20px; }
      .advantages__inner .advantages-item .advantages__title {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        padding: 60px 0 15px;
        position: relative; }
      .advantages__inner .advantages-item .advantages__text {
        color: #d3d2d2;
        letter-spacing: 0.1px;
        line-height: 24px; }
      .advantages__inner .advantages-item .advantages__title:before {
        content: '';
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid #ffc222; }
      .advantages__inner .advantages-item .advantages__title:after {
        content: "\f00c";
        font-family: 'icomoon';
        font-size: 14px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%); }

/* -- /advantages -- */
/* -- news -- */
.news {
  padding-bottom: 100px;
  background-color: #f9f9f9; }
  .news__inner {
    display: flex;
    justify-content: space-between; }
    .news__inner .news__slider {
      max-width: 555px;
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
      position: relative; }
      .news__inner .news__slider .news__slider-inner .slick-btn {
        top: auto;
        bottom: -75px; }
      .news__inner .news__slider .news__slider-inner .slick-next {
        right: 0px; }
      .news__inner .news__slider .news__slider-inner .slick-prev {
        right: 55px;
        left: auto; }
      .news__inner .news__slider .news__slider-inner .slick-disabled {
        border-color: #dadada; }
      .news__inner .news__slider .news__slider-inner .slick-disabled:before {
        color: #dadada; }
      .news__inner .news__slider .news__slider-item {
        padding: 60px 35px 45px 68px; }
        .news__inner .news__slider .news__slider-item .title {
          font-size: 18px;
          font-family: "Roboto", sans-serif;
          line-height: 24px;
          color: #242424;
          font-weight: 500;
          letter-spacing: 0.5px;
          margin-bottom: 15px; }
        .news__inner .news__slider .news__slider-item .text {
          letter-spacing: 0.1px;
          margin-bottom: 30px; }
        .news__inner .news__slider .news__slider-item .author {
          font-family: "Roboto", sans-serif;
          letter-spacing: 0.1px;
          color: #212020;
          font-weight: 500; }
    .news__inner .news__slider:before {
      position: absolute;
      content: "\f10e";
      font-family: 'icomoon';
      font-size: 16px;
      line-height: 31px;
      top: 0;
      left: 68px;
      color: #fff;
      width: 65px;
      height: 31px;
      background-color: #ffc222;
      text-align: center; }
    .news__inner .news__blog {
      max-width: 260px;
      width: 100%; }
      .news__inner .news__blog .news__image {
        position: relative; }
        .news__inner .news__blog .news__image .date {
          position: absolute;
          top: 0;
          left: 10px;
          background-color: #ffc222;
          width: 50px;
          height: 55px;
          color: #fff;
          text-align: center;
          padding-top: 30px;
          font-weight: 700; }
      .news__inner .news__blog-title {
        font-size: 16px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        color: #242424;
        letter-spacing: 0.5px;
        padding: 12px 0; }
      .news__inner .news__blog-text {
        letter-spacing: 0.1px;
        color: #5e5e5e; }

/* -- /news -- */

/*# sourceMappingURL=style.css.map */
