.about {
	.about-top {
		padding: 50px 0 30px;
		display: flex;
		justify-content: space-between;
		&__title-box {
			max-width: 520px;
			padding-left: 140px;
			position: relative;
			.title {
				font-size: 24px;
				line-height: 24px;
				font-family: $roboto;
				font-weight: 500;
				color: #212020;
				margin-bottom: 15px;
			}
			.text {
				letter-spacing: 0.1px;
			}
		}
		&__title-box:before {
			content: "";
			width: 106px;
			height: 2px;
			background: $yellow;
			position: absolute;
			left: 0;
			top: 10px;
		}
		&__btn a {
			color: #373636;
			letter-spacing: 0.25px;
			line-height: 24px;
			font-family: $roboto;
			padding: 5px 38px 5px 38px;
			border: 3px solid #e6e6e6;
			margin-top: 25px;
		}
	}
	.about-items {
		display: flex;
		justify-content: space-between;
		&__item {
			max-width: 360px;
			min-height: 375px;
			text-align: center;
			padding: 32px 0px 80px;
			position: relative;
			background-color: #f9f9f9;
			box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
			.item__title {
				color: #212020;
				font-family: $roboto;
				font-weight: 500;
				line-height: 24px;
				padding: 22px 0 24px;
			}
			.item__text {
				letter-spacing: 0.1px;
				padding: 0 30px 30px;
			}
			.item-links {
				position: absolute;
				bottom: 40px;
				left: 0;
				right: 0;
				&__info {
					line-height: 14px;
					color: #050505;
					font-family: $roboto;
					border-bottom: 1px solid #050505;
					margin-right: 60px;
				}
				.default-btn {
					color: #444343;
				}
			}
		}
	}
}

.Прямоугольник_32_копия {
  background-color: rgb(249, 249, 249);
  box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
  position: absolute;
  left: 779px;
  top: 844px;
  width: 360px;
  height: 367px;
  z-index: 78;
}
