.advantages {
	padding: 55px 0 40px;
	background-image: url('./../img/advantages-back.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 285px;
	&__inner {
		display: flex;
		justify-content: space-between;
		.advantages-item {	
			max-width: 360px;
			text-align: center;	
			padding: 0 20px;	
			.advantages__title {
				color: #fff;
				font-family: $roboto;
				font-size: 18px;
				line-height: 24px;
				font-weight: 500;
				padding: 60px 0 15px;
				position: relative;
			}
			.advantages__text {
				color: #d3d2d2;
				letter-spacing: 0.1px;
				line-height: 24px;
			}
			.advantages__title:before {
				content: '';
				width: 40px;
				height: 40px;
				display: block;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				border: 2px solid $yellow;
			}
			.advantages__title:after {
				content: "\f00c";
				font-family: 'icomoon';
				font-size: 14px;
				position: absolute;
				top: 10px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}